*{
  scroll-behavior: smooth;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
 
.profile img {
  width: 200px;
}
 
.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  overflow: hidden;
  width: 900px;
}
 
.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: orangered;
  text-align: center;
  color: white;
}
nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

footer {
  padding: 20px;
  color: white;
  background-color:orangered;
  text-align: center;
  font-weight: bold;
}
 
nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
 
  color: white;
}
 
nav a:hover {
  font-weight: bold;
}
 
.profile header {
  text-align: center;
}
  
nav ul{
  padding-inline: 4rem;
  display: flex;
  
}

nav li {
  list-style-type: none;
  margin-right: 20px;
  display: flex end;
}

nav {
  background-color: darkblue;
  padding: 5px;

  position: sticky;
  top: 0;
}
 
main {
  padding: 20px;

  overflow: auto;
}
 
#content {
  justify-content: left;
  width: 75%;
}
main aside{

  position: absolute;
  width: 25%;
  right: 10px;
  padding: left 20px;
}

* {
  box-sizing: border-box;
}
 
body {
  margin: 0; font-family: 'Quicksand', sans-serif;
 
  padding: 0;
}
 
h2,
h3 {
  text-align: center;
  color: orangered;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
